In [1]:
# Importing db libraries
import pandas as pd
import sqlalchemy as sa
import pyodbc
import time
import numpy as np
import json

In [2]:
def get_cnn_value_from_json(json_local):
    json.load(json_local)

def stringfy(classes):
    r = ""
    for i in classes:
        r += str(i)
    return r.strip()
def aciertos_from_str(real, est):
    count = 0
    for i in range(len(real)):
        if real[i]==est[i]:
            count += 1
    return count

def distance(str1, str2):
    d=dict()
    for i in range(len(str1)+1):
        d[i]=dict()
        d[i][0]=i
    for i in range(len(str2)+1):
        d[0][i] = i
    for i in range(1, len(str1)+1):
        for j in range(1, len(str2)+1):
            d[i][j] = min(d[i][j-1]+1, d[i-1][j]+1, d[i-1][j-1]+(not str1[i-1] == str2[j-1]))
    return d[len(str1)][len(str2)]

def improve(num, num_pred, scores):
    res = ""
    for i in range(len(str(num))):
        if scores[i] >= 9400:
            res += str(str(num)[i])
        else:
            res += str(str(num_pred)[i])
    return res

def has_letters(word):
    ret = True
    for c in word:
        if not ('0' <= c and c <= '9'):
            return not False
    return not True

def clean_real_dni(word):
    word = word.replace("-","")
    word = word.replace("O","0")
    word = word.replace("o","0")
    word = word.replace(" ","")
    return word

np_aciertos_from_str = np.vectorize(aciertos_from_str)
np_distance = np.vectorize(distance)
np_improve = np.vectorize(improve)
np_has_letters = np.vectorize(has_letters)

In [3]:
def aciertos_from_str(real, est):
    count = 0
    for i in range(len(real)):
        if real[i]==est[i]:
            count += 1
    return count

def distance(str1, str2):
    d=dict()
    for i in range(len(str1)+1):
        d[i]=dict()
        d[i][0]=i
    for i in range(len(str2)+1):
        d[0][i] = i
    for i in range(1, len(str1)+1):
        for j in range(1, len(str2)+1):
            d[i][j] = min(d[i][j-1]+1, d[i-1][j]+1, d[i-1][j-1]+(not str1[i-1] == str2[j-1]))
    return d[len(str1)][len(str2)]

def improve(num, num_pred, scores):
    res = ""
    for i in range(len(str(num))):
        if scores[i] >= 9400:
            res += str(str(num)[i])
        else:
            res += str(str(num_pred)[i])
    return res

def has_letters(word):
    ret = True
    for c in word:
        if not ('0' <= c and c <= '9'):
            return not False
    return not True

def clean_real_dni(word):
    word = word.replace("-","")
    word = word.replace("O","0")
    word = word.replace("o","0")
    word = word.replace(" ","")
    return word

np_aciertos_from_str = np.vectorize(aciertos_from_str)
np_distance = np.vectorize(distance)
np_improve = np.vectorize(improve)
np_has_letters = np.vectorize(has_letters)

### M3100 procesado

In [5]:
m3100_pro = pd.read_csv('C:\\git\\cuponesWong\\CuponesWong\\notebooks_flow\\local_result\\result_new_train_with_line_full.csv', dtype={'DNI':str, 'Telefono':str})
m3100_pro = m3100_pro.fillna('')

In [6]:
m3100_pro['Azure'] = np.where(
    np.logical_and(
        np.logical_and(m3100_pro['DNI'].apply(len)==8, m3100_pro.AcertividadDNI>=97.0),
        np.logical_and(
            np.logical_and(m3100_pro['Telefono'].apply(len)<=9,m3100_pro['Telefono'].apply(len)>=6),
            m3100_pro.AcertividadTelefono>=97.0
            )
        ),
    0,
    1)

In [18]:
(m3100_pro[m3100_pro['DNI'].apply(len)==8]['idCupon'].values.size) / (3157)

0.6126069052898321

### M3100 real

In [4]:
m3100_real = pd.read_csv('D:\\GyS\\proyectos\\cuponesWong\\proceso_definitivo\\process\\muestra900\\levantamiento\\total.csv', dtype={'DNI':str, 'telefono':str})
m3100_real = m3100_real.fillna('')
m3100_real['NombreArchivo'] = m3100_real['nombre_archivo'].apply(lambda x: x[:-4])
m3100_real.head()

,Unnamed: 0,nombre_archivo,DNI,telefono,Observación,email,NombreArchivo
0,0,MarzoCompras_0202072019164448_00043.jpg,42650934,979754672,,Maicusi@hotmail.com,MarzoCompras_0202072019164448_00043
1,1,MarzoCompras_0202072019164454_00245.jpg,20996780,923540008,,,MarzoCompras_0202072019164454_00245
2,2,MarzoCompras_0202072019164458_00359.jpg,42051024,940445230,,jtrujillowong@outlook.com,MarzoCompras_0202072019164458_00359
3,3,MarzoCompras_0202072019164503_00537.jpg,40557762,987136744,,Micasu -80@Hotmail.com,MarzoCompras_0202072019164503_00537
4,4,MarzoCompras_0202072019164503_00546.jpg,08668202,995382267,,CAROLINA CM10_10@HOTMAIL.COM,MarzoCompras_0202072019164503_00546

In [8]:
total = pd.merge(m3100_pro, m3100_real, how='left', on='NombreArchivo')
# total['dni_yolo'] = total['LocalJsonOCR'].apply(lambda x: stringfy(json.loads(x)['dni_yolo']['values']))
# total['tel_yolo'] = total['LocalJsonOCR'].apply(lambda x: stringfy(json.loads(x)['telefono_yolo']['values']))
# total['acert_dni_mean'] = total['LocalJsonOCR'].apply(lambda x: np.array(json.loads(x)['dni_yolo']['scores']).sum()/(np.array(json.loads(x)['dni_yolo']['scores']).size * 100))
# total['acerts_dni'] = total['LocalJsonOCR'].apply(lambda x: json.loads(x)['dni_yolo']['scores'])
total.head()

,NombreArchivo,idCupon,DNI_x,AcertividadDNI,Telefono,AcertividadTelefono,idCampania,idUsuario,idEstado,LocalJsonOCR,Azure,Unnamed: 0,nombre_archivo,DNI_y,telefono,Observación,email
0,MarzoCompras-0303072019121007_00008,1000,600672266,0.00,08732143,93.30,4,1,1,"{""dni_cnn"": {""value"": ""600672266""}, ""telefono_...",1,2097,MarzoCompras-0303072019121007_00008.jpg,000672966,982331400,,karaujo71@hotmail.com
1,MarzoCompras-0303072019121007_00010,1001,49881016,96.30,2946428522,0.00,4,1,1,"{""dni_cnn"": {""value"": ""49881016""}, ""telefono_c...",1,889,MarzoCompras-0303072019121007_00010.jpg,09888016,946498597,,Mauricio280156@Hotmail.com
2,MarzoCompras-0303072019121007_00025,1002,04301500,96.18,4282182114,0.00,4,1,1,"{""dni_cnn"": {""value"": ""04301500""}, ""telefono_c...",1,1193,MarzoCompras-0303072019121007_00025.jpg,04015880,928489578,,-
3,MarzoCompras-0303072019121013_00265,1003,04310242,94.58,905973705,99.26,4,1,1,"{""dni_cnn"": {""value"": ""04310242""}, ""telefono_c...",1,890,MarzoCompras-0303072019121013_00265.jpg,09310742,985973705,,Jalina_9@yahoo.es
4,MarzoCompras-0303072019121014_00331,1004,0431060,0.00,9575602,89.67,4,1,1,"{""dni_cnn"": {""value"": ""0431060""}, ""telefono_cn...",1,585,MarzoCompras-0303072019121014_00331.jpg,08281360,949357892,,

# Lev DNI

In [11]:
total_dni = total[['NombreArchivo','DNI_x','DNI_y','AcertividadDNI']]
# total_dni['dni_lev'] = np_distance(total_dni['dni_yolo'],total_dni['DNI_y'])
# total_dni['dni_conj'] = np_improve(total_dni['dni_yolo'],total_dni['DNI_x'],total_dni['acerts_dni'])
# total_dni['dni_lev_conj'] = np_distance(total_dni['dni_conj'],total_dni['DNI_y'])
total_dni['dni_lev'] = np_distance(total_dni['DNI_x'],total_dni['DNI_y'])
total_dni.head()

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,NombreArchivo,DNI_x,DNI_y,AcertividadDNI,dni_lev
0,MarzoCompras-0303072019121007_00008,600672266,000672966,0.00,2
1,MarzoCompras-0303072019121007_00010,49881016,09888016,96.30,2
2,MarzoCompras-0303072019121007_00025,04301500,04015880,96.18,3
3,MarzoCompras-0303072019121013_00265,04310242,09310742,94.58,2
4,MarzoCompras-0303072019121014_00331,0431060,08281360,0.00,4

In [12]:
lev_dni = total_dni.groupby(['dni_lev']).agg({'NombreArchivo':'count'})
lev_dni['Porcentaje'] = np.round(lev_dni['NombreArchivo'] * 100 / lev_dni['NombreArchivo'].sum() , 2 )
lev_dni['Cuenta'] = lev_dni['NombreArchivo']
lev_dni[['Cuenta','Porcentaje']]

         Cuenta  Porcentaje
dni_lev
0           379       12.00
1           679       21.49
2           786       24.88
3           590       18.68
4           366       11.59
5           191        6.05
6           114        3.61
7            33        1.04
8            16        0.51
9             1        0.03
10            3        0.09
11            1        0.03

In [102]:
lev_dni_conj = total_dni.groupby(['dni_lev_conj']).agg({'NombreArchivo':'count'})
lev_dni_conj['perc'] = lev_dni_conj['NombreArchivo'] * 100 / lev_dni_conj['NombreArchivo'].sum()
lev_dni_conj

              NombreArchivo       perc
dni_lev_conj
0                       406  12.852168
1                       747  23.646724
2                       748  23.678379
3                       556  17.600506
4                       357  11.301045
5                       210   6.647673
6                        84   2.659069
7                        36   1.139601
8                        12   0.379867
9                         1   0.031656
11                        1   0.031656
13                        1   0.031656

In [115]:
lev_dni_cnn = total_dni.groupby(['dni_lev_cnn']).agg({'NombreArchivo':'count'})
lev_dni_cnn['perc'] = lev_dni_cnn['NombreArchivo'] * 100 / lev_dni_cnn['NombreArchivo'].sum()
lev_dni_cnn

             NombreArchivo       perc
dni_lev_cnn
0                      406  12.852168
1                      747  23.646724
2                      748  23.678379
3                      556  17.600506
4                      357  11.301045
5                      210   6.647673
6                       84   2.659069
7                       36   1.139601
8                       12   0.379867
9                        1   0.031656
11                       1   0.031656
13                       1   0.031656

# Lev Telefono

In [22]:
total_tel = total[['NombreArchivo','Telefono','telefono','AcertividadTelefono','tel_yolo']]
total_tel['tel_lev'] = np_distance(total_tel['Telefono'],total_tel['telefono'])
total_tel['tel_lev_yolo'] = np_distance(total_tel['tel_yolo'],total_tel['telefono'])
total_tel.head()

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,NombreArchivo,Telefono,telefono,AcertividadTelefono,tel_yolo,tel_lev,tel_lev_yolo
0,MarzoCompras-0303072019121007_00008,40736,982331400,0.00,70720,8,8
1,MarzoCompras-0303072019121007_00010,7469851,946498597,71.26,4467852,4,5
2,MarzoCompras-0303072019121007_00025,92070524,928489578,61.44,92070077,6,6
3,MarzoCompras-0303072019121013_00265,90023702,985973705,54.40,90023705,5,4
4,MarzoCompras-0303072019121014_00331,7459002,949357892,82.79,7057002,6,6

In [23]:
lev_tel = total_tel.groupby(['tel_lev']).agg({'NombreArchivo':'count'})
lev_tel['Porcentaje'] = np.round(lev_tel['NombreArchivo'] * 100 / lev_tel['NombreArchivo'].sum() , 2 )
lev_tel['Cuenta'] = lev_tel['NombreArchivo']
lev_tel[['Cuenta','Porcentaje']]

         Cuenta  Porcentaje
tel_lev
0           120        3.80
1           356       11.27
2           549       17.38
3           647       20.48
4           643       20.35
5           429       13.58
6           235        7.44
7           110        3.48
8            51        1.61
9            16        0.51
10            2        0.06
11            1        0.03

In [24]:
lev_tel_yolo = total_tel.groupby(['tel_lev_yolo']).agg({'NombreArchivo':'count'})
lev_tel_yolo['Porcentaje'] = np.round(lev_tel_yolo['NombreArchivo'] * 100 / lev_tel_yolo['NombreArchivo'].sum() , 2 )
lev_tel_yolo['Cuenta'] = lev_tel_yolo['NombreArchivo']
lev_tel_yolo[['Cuenta','Porcentaje']]

              Cuenta  Porcentaje
tel_lev_yolo
0                 61        1.93
1                191        6.05
2                374       11.84
3                597       18.90
4                676       21.40
5                569       18.01
6                389       12.31
7                194        6.14
8                 81        2.56
9                 20        0.63
10                 4        0.13
11                 2        0.06
12                 1        0.03

### Levensthein DNI

In [24]:
total_dni = total[['NombreArchivo','DNI_x','dni_yolo','DNI_y','AcertividadDNI','acert_dni_mean','acerts_dni']]
total_dni

,NombreArchivo,DNI_x,dni_yolo,DNI_y,AcertividadDNI,acert_dni_mean,acerts_dni
0,MarzoCompras-0303072019121007_00008,00622926,00672766,000672966,93.76,97.308750,"[9918, 9957, 9851, 9376, 9971, 9601, 9767, 9406]"
1,MarzoCompras-0303072019121007_00010,0588806,0580504,09888016,0.00,77.671429,"[6123, 6384, 9777, 9938, 8264, 7833, 6051]"
2,MarzoCompras-0303072019121007_00025,04015560,04015000,04015880,60.25,88.405000,"[8678, 6025, 9630, 7339, 9627, 9851, 9654, 9920]"
3,MarzoCompras-0303072019121013_00265,031027,031022,09310742,0.00,75.090000,"[7661, 7926, 8730, 9320, 5001, 6416]"
4,MarzoCompras-0303072019121014_00331,082813622,002217602,08281360,0.00,84.056667,"[9902, 9262, 6085, 6364, 9736, 9585, 9761, 820..."
5,MarzoCompras-0303072019121014_00343,00270147,00740147,09740147,91.44,97.861250,"[9856, 9719, 9940, 9807, 9999, 9990, 9834, 9144]"
6,MarzoCompras-0303072019121017_00450,9900157,7900157,09900151,0.00,94.557143,"[8571, 7843, 9996, 9969, 9954, 9886, 9971]"
7,MarzoCompras-0303072019121017_00459,08482229,00482219,08482279,74.83,91.778750,"[9957, 9401, 9468, 7483, 9954, 9463, 8462, 9235]"
8,MarzoCompras-0303072019121018_00497,452775,452774,45279490,0.00,94.658333,"[9945, 9704, 9890, 9936, 9875, 7445]"
9,MarzoCompras-0303072019121018_00501,0533314,0523314,05333314,0.00,87.577143,"[5739, 9068, 9260, 9769, 9713, 7984, 9771]"
10,MarzoCompras-0303072019121019_00514,2715467700,0715467700,071546720,0.00,90.564000,"[9971, 9976, 9988, 9995, 8697, 8039, 9982, 863..."
11,MarzoCompras-0303072019121019_00540,738560322,733560322,73856082,0.00,85.513333,"[9928, 9750, 7096, 9946, 6740, 9380, 7383, 956..."
12,MarzoCompras-0303072019121019_00541,68361,61301,08281361,0.00,81.150000,"[5182, 7361, 9386, 8872, 9774]"
13,MarzoCompras-0303072019121021_00570,1057452,1057452,10594523,0.00,93.194286,"[9825, 9971, 9830, 5920, 9828, 9945, 9917]"
14,MarzoCompras-0303072019121021_00585,1,1,08661984,0.00,50.090000,[5009]
15,MarzoCompras-0303072019121023_00648,112765050,110700050,10748050,0.00,88.064444,"[7155, 7657, 8522, 9906, 7280, 9927, 9968, 926..."
16,MarzoCompras-0303072019121023_00651,10758050,10798050,10748050,55.13,88.135000,"[9363, 9984, 9997, 5937, 9837, 9971, 9906, 5513]"
17,MarzoCompras-0303072019121023_00652,70796052,10740057,10748050,72.20,90.696250,"[8373, 9939, 9975, 7227, 9900, 9989, 9934, 7220]"
18,MarzoCompras-0303072019121024_00709,77857,77557,73592248,0.00,69.850000,"[9559, 6692, 5703, 5890, 7081]"
19,MarzoCompras-0303072019121025_00771,4708183,4708103,47083183,0.00,93.747143,"[8529, 9989, 9998, 9244, 9918, 8520, 9425]"
20,MarzoCompras-0303072019121030_00931,51330637,41330637,41330637,85.90,97.356250,"[9789, 9997, 8590, 9750, 9955, 9908, 9938, 9958]"
21,MarzoCompras-0303072019121032_00998,16145220,16145220,161145220,70.78,94.698750,"[9621, 9907, 9986, 9819, 9978, 9960, 9410, 7078]"
22,MarzoCompras-0303072019125009_00002,7742752,7112750,71112750,0.00,97.621429,"[9958, 9415, 9796, 9887, 9950, 9810, 9519]"
23,MarzoCompras-0303072019125011_00105,5424213,4424510,44243513,0.00,93.088571,"[9912, 9986, 9853, 9741, 8177, 9282, 8211]"
24,MarzoCompras-0303072019125012_00121,4201226,4291226,42914226,0.00,79.557143,"[9491, 9662, 6104, 8553, 8097, 6696, 7087]"
25,MarzoCompras-0303072019125012_00123,8688845,0688043,08688843,0.00,97.017143,"[9002, 9980, 9807, 9801, 9680, 9881, 9761]"
26,MarzoCompras-0303072019125013_00187,44565125,14705112,44765113,58.12,88.387500,"[8967, 9837, 9932, 9494, 9975, 9927, 6766, 5812]"
27,MarzoCompras-0303072019125013_00196,77239287,77237207,72239287,62.70,88.323750,"[9872, 7336, 9595, 9941, 7818, 9868, 6270, 9959]"
28,MarzoCompras-0303072019125013_00206,74673273,74173077,714123873,69.27,92.027500,"[9897, 9601, 8940, 8916, 9580, 9819, 9942, 6927]"
29,MarzoCompras-0303072019125015_00264,06263642,06163612,06163611,89.25,97.757500,"[9970, 9954, 8925, 9971, 9936, 9957, 9840, 9653]"
...,...,...,...,...,...,...,...
3129,MarzoCompras_XM_B5_20190710134528_00365,46177494,46177474,46177494,70.33,87.150000,"[9404, 9887, 8737, 7982, 9968, 7033, 8074, 8635]"
3130,MarzoCompras_XM_B5_20190710134534_00496,72751535,42751535,42751535,74.27,90.508750,"[9608, 9802, 9919, 8177, 7427, 8771, 9450, 9253]"
3131,MarzoCompras_XM_B5_20190710134536_00590,04737544,07737544,01137544,63.84,92.732500,"[9974, 6384, 8798, 9147, 9994, 9972, 9967, 9950]"
3132,MarzoCompras_XM_B5_20190710134537_00597,16692655,16657657,16697659,67.59,93.503750,"[9414, 9933, 9964, 9762, 9090, 9978, 9903, 6759]"
3133,MarzoCompras_XM_B5_20190710134537_00607,16693655,16697655,16697655,85.46,95.237500,"[9346, 9848, 9978, 8546, 9462, 9791, 9763, 9456]"
3134,MarzoCompras_XM_B5_20190710134538_00628,710206152,710206157,10206157,0.00,93.342222,"[5026, 9814, 9972, 9808, 9931, 9834, 9752, 991..."
3135,MarzoCompras_XM_B5_20190710134539_00654,4942646,4047646,41942646,0.00,88.877143,"[8452, 9919, 7644, 8512, 9951, 8519, 9217]"
3136,MarzoCompras_XM_B5_20190710134539_00656,5942646,0047646,41942646,0.00,88.597143,"[6123, 9896, 9340, 8192, 9881, 9223, 9363]"
3137,MarzoCompras_XM_B5_20190710134548_00802,723309,702304,7033301,0.00,92.335000,"[9866, 9624, 6830, 9478, 9916, 9687]"
3138,MarzoCompras_XM_B5_20190710134548_00811,08821636,08021636,08021636,83.71,94.977500,"[9981, 9653, 9120, 8371, 9591, 9494, 9820, 9952]"
3139,MarzoCompras_XM_B5_20190710134549_00856,0654270,0051270,06542290,0.00,88.374286,"[9914, 8092, 9964, 5718, 8671, 9815, 9688]"
3140,MarzoCompras_XM_B5_20190710134551_00897,403360257,403360257,40336025,0.00,91.216667,"[9654, 9937, 7858, 9933, 9973, 9945, 9861, 987..."
3141,MarzoCompras_XM_B5_20190710150302_00014,09235896,09285876,09285896,77.71,92.851250,"[9766, 7771, 9944, 8848, 9818, 9344, 9773, 9017]"
3142,MarzoCompras_XM_B5_20190710150304_00067,75542734,75542734,75542734,90.04,98.430000,"[9973, 9004, 9985, 9904, 9950, 9981, 9973, 9974]"
3143,MarzoCompras_XM_B5_20190710150306_00166,46896046,16006046,46896096,53.62,85.323750,"[9379, 6406, 9423, 8371, 9962, 9983, 5362, 9373]"
3144,MarzoCompras_XM_B5_20190710150308_00203,77744013,77744013,77744013,76.07,89.161250,"[9616, 8722, 9292, 9378, 8748, 9372, 8594, 7607]"
3145,MarzoCompras_XM_B5_20190710150308_00204,068074,060014,06801145,0.00,90.401667,"[9899, 9956, 7818, 9980, 9876, 6712]"
3146,MarzoCompras_XM_B5_20190710150308_00238,23660029,73060670,73060679,50.70,91.708750,"[9825, 9867, 9893, 9318, 9830, 9578, 9986, 5070]"
3147,MarzoCompras_XM_B5_20190710150312_00355,27982742,27780142,27988142,72.40,92.123750,"[9545, 9873, 9886, 9890, 7240, 7702, 9849, 9714]"
3148,MarzoCompras_XM_B5_20190710150312_00360,5186803,4106803,41868037,0.00,95.288571,"[9592, 9868, 9516, 9925, 9658, 9922, 8221]"
3149,MarzoCompras_XM_B5_20190710150317_00473,249882,077882,27988142,0.00,96.936667,"[9710, 9948, 9647, 9915, 9030, 9912]"
3150,MarzoCompras_XM_B5_20190710150320_00551,0154032942,0101050740,0181039940,0.00,93.283000,"[9895, 9959, 9787, 9917, 9955, 6734, 9112, 990..."
3151,MarzoCompras_XM_B5_20190710150321_00599,80064626,80024626,80064626,65.45,86.065000,"[9421, 8508, 7500, 7370, 6545, 9927, 9917, 9664]"
3152,MarzoCompras_XM_B5_20190710150322_00609,71916865,71916005,71916965,50.22,81.995000,"[9929, 8978, 7682, 9836, 9802, 5022, 7051, 7296]"
3153,MarzoCompras_XM_B5_20190710150330_00766,40555762,40557762,40557762,82.01,95.427500,"[9874, 9984, 9919, 9492, 8201, 9960, 9146, 9766]"
3154,MarzoCompras_XM_B5_20190710150330_00774,215903100,115703100,15703100,0.00,94.541111,"[6510, 9160, 9812, 9960, 9989, 9766, 9916, 999..."
3155,MarzoCompras_XM_B5_20190710150332_00842,43560157,42560150,43560150,76.46,91.590000,"[9769, 9640, 9946, 9388, 9941, 9118, 7646, 7824]"
3156,MarzoCompras_XM_B5_20190710150332_00855,17571752,17571757,17541457,86.48,94.637500,"[8648, 9957, 9475, 8917, 9732, 9282, 9852, 9847]"
3157,MarzoCompras_XM_B5_20190710150334_00907,07028777,07028777,09628779,79.60,94.926250,"[9441, 7960, 9109, 9678, 9907, 9963, 9970, 9913]"
3158,MarzoCompras_XM_B5_20190710150336_00953,4455606,4455606,44556806,0.00,91.801429,"[8770, 9834, 9976, 9836, 5986, 9910, 9949]"

In [22]:
total_dni = total[['NombreArchivo','DNI_x','dni_yolo','DNI_y','AcertividadDNI','acert_dni_mean','acerts_dni']]
total_dni = total_dni[total_dni.dni_yolo.apply(len)==total_dni.DNI_y.apply(len)]
total_dni['trues_est'] = total_dni['acerts_dni'].apply(lambda x : (np.array(x)<9500).sum())
total_dni['falses_est'] = total_dni['acerts_dni'].apply(lambda x : (np.array(x)>=9500).sum())
total_dni['trues_real'] = np_aciertos_from_str(total_dni['DNI_y'],total_dni['dni_yolo'])
total_dni['falses_real'] = total_dni['DNI_y'].apply(len) - total_dni['trues_real']
total_dni.head()

,NombreArchivo,DNI_x,dni_yolo,DNI_y,AcertividadDNI,acert_dni_mean,acerts_dni,trues_est,falses_est,trues_real,falses_real
2,MarzoCompras-0303072019121007_00025,04015560,04015000,04015880,60.25,88.40500,"[8678, 6025, 9630, 7339, 9627, 9851, 9654, 9920]",3,5,6,2
5,MarzoCompras-0303072019121014_00343,00270147,00740147,09740147,91.44,97.86125,"[9856, 9719, 9940, 9807, 9999, 9990, 9834, 9144]",1,7,7,1
7,MarzoCompras-0303072019121017_00459,08482229,00482219,08482279,74.83,91.77875,"[9957, 9401, 9468, 7483, 9954, 9463, 8462, 9235]",6,2,6,2
16,MarzoCompras-0303072019121023_00651,10758050,10798050,10748050,55.13,88.13500,"[9363, 9984, 9997, 5937, 9837, 9971, 9906, 5513]",3,5,7,1
17,MarzoCompras-0303072019121023_00652,70796052,10740057,10748050,72.20,90.69625,"[8373, 9939, 9975, 7227, 9900, 9989, 9934, 7220]",3,5,6,2

In [13]:
total_dni['trues_est'].sum(), total_dni['falses_est'].sum(), total_dni['trues_real'].sum(), total_dni['falses_real'].sum()

(5265, 7687, 9891, 3061)

In [122]:
for i in range(8000, 10000, 100):
    total_dni = total[['NombreArchivo','DNI_x','dni_yolo','DNI_y','AcertividadDNI','acert_dni_mean','acerts_dni']]
    total_dni = total_dni[total_dni.dni_yolo.apply(len)==total_dni.DNI_y.apply(len)]
    total_dni['trues_est'] = total_dni['acerts_dni'].apply(lambda x : (np.array(x)<i).sum())
    total_dni['falses_est'] = total_dni['acerts_dni'].apply(lambda x : (np.array(x)>=i).sum())
    total_dni['trues_real'] = np_aciertos_from_str(total_dni['DNI_y'],total_dni['dni_yolo'])
    total_dni['falses_real'] = total_dni['DNI_y'].apply(len) - total_dni['trues_real']
    te, fe, tr, fr = total_dni['trues_est'].sum(), total_dni['falses_est'].sum(), total_dni['trues_real'].sum(), total_dni['falses_real'].sum()
    # print('{} se tiene {} {} {} {}'.format(i/100, te, fe, tr, fr))
    print('{} se tiene {} {} {} {}'.format(i/100, round(te/(fr+tr),2), round(fe/(fr+tr),2), round(tr/(fr+tr),2), round(fr/(fr+tr),2)))

80.0 se tiene 0.14 0.86 0.76 0.24
81.0 se tiene 0.15 0.85 0.76 0.24
82.0 se tiene 0.16 0.84 0.76 0.24
83.0 se tiene 0.17 0.83 0.76 0.24
84.0 se tiene 0.18 0.82 0.76 0.24
85.0 se tiene 0.19 0.81 0.76 0.24
86.0 se tiene 0.21 0.79 0.76 0.24
87.0 se tiene 0.22 0.78 0.76 0.24
88.0 se tiene 0.24 0.76 0.76 0.24
89.0 se tiene 0.26 0.74 0.76 0.24
90.0 se tiene 0.27 0.73 0.76 0.24
91.0 se tiene 0.29 0.71 0.76 0.24
92.0 se tiene 0.31 0.69 0.76 0.24
93.0 se tiene 0.34 0.66 0.76 0.24
94.0 se tiene 0.37 0.63 0.76 0.24
95.0 se tiene 0.41 0.59 0.76 0.24
96.0 se tiene 0.45 0.55 0.76 0.24
97.0 se tiene 0.51 0.49 0.76 0.24
98.0 se tiene 0.59 0.41 0.76 0.24
99.0 se tiene 0.72 0.28 0.76 0.24

In [125]:
param_dni = total[['NombreArchivo','DNI_x','DNI_y','AcertividadDNI','acert_dni_mean']]

param_dni['trues_est'] = np.where(np.logical_and(param_dni['AcertividadDNI']>=84,param_dni.DNI_x.apply(len)==8), 1, 0)
param_dni['trues_real'] = np.where(param_dni['DNI_x']==param_dni['DNI_y'], 1, 0)
# param_dni['sta'] = np.where(param_dni['trues_est']==param_dni['trues_real'],'acierto',
                            # np.where(param_dni['trues_est']==1, 'Falso positivo', 'Verdadero negativo'))
    
# te, tr, tt = param_dni['trues_est'].sum(), param_dni['trues_real'].sum(), param_dni['trues_real'].values.size
param_dni

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,NombreArchivo,DNI_x,DNI_y,AcertividadDNI,acert_dni_mean,trues_est,trues_real
0,MarzoCompras-0303072019121007_00008,00622766,000672966,93.76,97.308750,1,0
1,MarzoCompras-0303072019121007_00010,0580806,09888016,0.00,77.671429,0,0
2,MarzoCompras-0303072019121007_00025,04015000,04015880,60.25,88.405000,0,0
3,MarzoCompras-0303072019121013_00265,031027,09310742,0.00,75.090000,0,0
4,MarzoCompras-0303072019121014_00331,082817622,08281360,0.00,84.056667,0,0
5,MarzoCompras-0303072019121014_00343,00740147,09740147,91.44,97.861250,1,0
6,MarzoCompras-0303072019121017_00450,9900157,09900151,0.00,94.557143,0,0
7,MarzoCompras-0303072019121017_00459,00482229,08482279,74.83,91.778750,0,0
8,MarzoCompras-0303072019121018_00497,452775,45279490,0.00,94.658333,0,0
9,MarzoCompras-0303072019121018_00501,0533314,05333314,0.00,87.577143,0,0
10,MarzoCompras-0303072019121019_00514,0715467700,071546720,0.00,90.564000,0,0
11,MarzoCompras-0303072019121019_00540,738560322,73856082,0.00,85.513333,0,0
12,MarzoCompras-0303072019121019_00541,68361,08281361,0.00,81.150000,0,0
13,MarzoCompras-0303072019121021_00570,1057452,10594523,0.00,93.194286,0,0
14,MarzoCompras-0303072019121021_00585,1,08661984,0.00,50.090000,0,0
15,MarzoCompras-0303072019121023_00648,112760050,10748050,0.00,88.064444,0,0
16,MarzoCompras-0303072019121023_00651,10758050,10748050,55.13,88.135000,0,0
17,MarzoCompras-0303072019121023_00652,70790052,10748050,72.20,90.696250,0,0
18,MarzoCompras-0303072019121024_00709,77857,73592248,0.00,69.850000,0,0
19,MarzoCompras-0303072019121025_00771,4708183,47083183,0.00,93.747143,0,0
20,MarzoCompras-0303072019121030_00931,41330637,41330637,85.90,97.356250,1,1
21,MarzoCompras-0303072019121032_00998,16145220,161145220,70.78,94.698750,0,0
22,MarzoCompras-0303072019125009_00002,7112750,71112750,0.00,97.621429,0,0
23,MarzoCompras-0303072019125011_00105,4424213,44243513,0.00,93.088571,0,0
24,MarzoCompras-0303072019125012_00121,4201226,42914226,0.00,79.557143,0,0
25,MarzoCompras-0303072019125012_00123,8688043,08688843,0.00,97.017143,0,0
26,MarzoCompras-0303072019125013_00187,44705125,44765113,58.12,88.387500,0,0
27,MarzoCompras-0303072019125013_00196,77239287,72239287,62.70,88.323750,0,0
28,MarzoCompras-0303072019125013_00206,74673073,714123873,69.27,92.027500,0,0
29,MarzoCompras-0303072019125015_00264,06263612,06163611,89.25,97.757500,1,0
...,...,...,...,...,...,...,...
3129,MarzoCompras_XM_B5_20190710134528_00365,46177494,46177494,70.33,87.150000,0,1
3130,MarzoCompras_XM_B5_20190710134534_00496,42751535,42751535,74.27,90.508750,0,1
3131,MarzoCompras_XM_B5_20190710134536_00590,04737544,01137544,63.84,92.732500,0,0
3132,MarzoCompras_XM_B5_20190710134537_00597,16652655,16697659,67.59,93.503750,0,0
3133,MarzoCompras_XM_B5_20190710134537_00607,16697655,16697655,85.46,95.237500,1,1
3134,MarzoCompras_XM_B5_20190710134538_00628,710206157,10206157,0.00,93.342222,0,0
3135,MarzoCompras_XM_B5_20190710134539_00654,4042646,41942646,0.00,88.877143,0,0
3136,MarzoCompras_XM_B5_20190710134539_00656,5042646,41942646,0.00,88.597143,0,0
3137,MarzoCompras_XM_B5_20190710134548_00802,703304,7033301,0.00,92.335000,0,0
3138,MarzoCompras_XM_B5_20190710134548_00811,08821636,08021636,83.71,94.977500,0,0
3139,MarzoCompras_XM_B5_20190710134549_00856,0654270,06542290,0.00,88.374286,0,0
3140,MarzoCompras_XM_B5_20190710134551_00897,403360257,40336025,0.00,91.216667,0,0
3141,MarzoCompras_XM_B5_20190710150302_00014,09235876,09285896,77.71,92.851250,0,0
3142,MarzoCompras_XM_B5_20190710150304_00067,75542734,75542734,90.04,98.430000,1,1
3143,MarzoCompras_XM_B5_20190710150306_00166,46096046,46896096,53.62,85.323750,0,0
3144,MarzoCompras_XM_B5_20190710150308_00203,77744013,77744013,76.07,89.161250,0,1
3145,MarzoCompras_XM_B5_20190710150308_00204,068014,06801145,0.00,90.401667,0,0
3146,MarzoCompras_XM_B5_20190710150308_00238,73060679,73060679,50.70,91.708750,0,1
3147,MarzoCompras_XM_B5_20190710150312_00355,27782742,27988142,72.40,92.123750,0,0
3148,MarzoCompras_XM_B5_20190710150312_00360,4106803,41868037,0.00,95.288571,0,0
3149,MarzoCompras_XM_B5_20190710150317_00473,077882,27988142,0.00,96.936667,0,0
3150,MarzoCompras_XM_B5_20190710150320_00551,0101032740,0181039940,0.00,93.283000,0,0
3151,MarzoCompras_XM_B5_20190710150321_00599,80064626,80064626,65.45,86.065000,0,1
3152,MarzoCompras_XM_B5_20190710150322_00609,71916865,71916965,50.22,81.995000,0,0
3153,MarzoCompras_XM_B5_20190710150330_00766,40555762,40557762,82.01,95.427500,0,0
3154,MarzoCompras_XM_B5_20190710150330_00774,215703100,15703100,0.00,94.541111,0,0
3155,MarzoCompras_XM_B5_20190710150332_00842,42560157,43560150,76.46,91.590000,0,0
3156,MarzoCompras_XM_B5_20190710150332_00855,17571757,17541457,86.48,94.637500,1,0
3157,MarzoCompras_XM_B5_20190710150334_00907,07028777,09628779,79.60,94.926250,0,0
3158,MarzoCompras_XM_B5_20190710150336_00953,4455606,44556806,0.00,91.801429,0,0

In [123]:
for i in range(70, 100, 1):
    param_dni = total[['NombreArchivo','DNI_x','dni_yolo','DNI_y','AcertividadDNI','acert_dni_mean']]
    # param_dni = param_dni[param_dni.dni_yolo.apply(len)==8]
    param_dni['trues_est'] = np.where(np.logical_and(param_dni['AcertividadDNI']>=i,param_dni.dni_yolo.apply(len)==8), 1, 0)
    param_dni['trues_real'] = np.where(param_dni['DNI_x']==param_dni['DNI_y'], 1, 0)
    
    param_dni['sta'] = np.where(param_dni['trues_est']==param_dni['trues_real'],'acierto',
                               np.where(param_dni['trues_est']==1, 'Falso positivo', 'Verdadero negativo'))
    
    te, tr, tt = param_dni['trues_est'].sum(), param_dni['trues_real'].sum(), param_dni['trues_real'].values.size
    # print('{} se tiene {} {} {}'.format(i, te, tr, tt))
    print('{} se tiene {} {}'.format(i, round(te/(tt),2), round(tr/(tt),2)))

70 se tiene 0.3 0.13
71 se tiene 0.28 0.13
72 se tiene 0.27 0.13
73 se tiene 0.26 0.13
74 se tiene 0.25 0.13
75 se tiene 0.24 0.13
76 se tiene 0.22 0.13
77 se tiene 0.21 0.13
78 se tiene 0.2 0.13
79 se tiene 0.19 0.13
80 se tiene 0.18 0.13
81 se tiene 0.17 0.13
82 se tiene 0.16 0.13
83 se tiene 0.15 0.13
84 se tiene 0.13 0.13
85 se tiene 0.12 0.13
86 se tiene 0.11 0.13
87 se tiene 0.1 0.13
88 se tiene 0.09 0.13
89 se tiene 0.07 0.13
90 se tiene 0.06 0.13
91 se tiene 0.05 0.13
92 se tiene 0.05 0.13
93 se tiene 0.04 0.13
94 se tiene 0.03 0.13
95 se tiene 0.02 0.13
96 se tiene 0.01 0.13
97 se tiene 0.01 0.13
98 se tiene 0.0 0.13
99 se tiene 0.0 0.13

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [134]:
param_dni = total[['NombreArchivo','DNI_x','dni_yolo','DNI_y','AcertividadDNI','acert_dni_mean']]
# param_dni = param_dni[param_dni.dni_yolo.apply(len)==8]
param_dni['trues_est'] = np.where(np.logical_and(param_dni['AcertividadDNI']>=97,param_dni.dni_yolo.apply(len)==8), 1, 0)
# param_dni['trues_est'] = np.where(np.logical_and(param_dni['acert_dni_mean']>=90,param_dni.dni_yolo.apply(len)==8), 1, 0)
param_dni['trues_real'] = np.where(param_dni['dni_yolo']==param_dni['DNI_y'], 1, 0)
# print('{} se tiene {} {}'.format(i, round(te/(tt),2), round(tr/(tt),2)))
pd.crosstab(param_dni['trues_est'],param_dni['trues_real'])

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

trues_real     0    1
trues_est
0           2806  324
1             13   16

In [135]:
norm = pd.crosstab(param_dni['trues_est'],param_dni['trues_real'],normalize=True)
np.round(norm * 100,2)

trues_real      0      1
trues_est
0           88.83  10.26
1            0.41   0.51

In [57]:
for i in range(80, 100, 1):
    param_dni = total[['NombreArchivo','DNI_x','dni_yolo','DNI_y','AcertividadDNI','acert_dni_mean']]
    # param_dni = param_dni[param_dni.dni_yolo.apply(len)==8]
    param_dni['trues_est'] = np.where(np.logical_and(param_dni['acert_dni_mean']>=i,param_dni.dni_yolo.apply(len)==8), 1, 0)
    param_dni['trues_real'] = np.where(param_dni['dni_yolo']==param_dni['DNI_y'], 1, 0)

    te, tr, tt = param_dni['trues_est'].sum(), param_dni['trues_real'].sum(), param_dni['trues_real'].values.size
    # print('{} se tiene {} {} {}'.format(i, te, tr, tt))
    print('{} se tiene {} {}'.format(i, round(te/(tt),2), round(tr/(tt),2)))

80 se tiene 0.51 0.11
81 se tiene 0.5 0.11
82 se tiene 0.5 0.11
83 se tiene 0.49 0.11
84 se tiene 0.48 0.11
85 se tiene 0.47 0.11
86 se tiene 0.45 0.11
87 se tiene 0.44 0.11
88 se tiene 0.42 0.11
89 se tiene 0.39 0.11
90 se tiene 0.36 0.11
91 se tiene 0.33 0.11
92 se tiene 0.28 0.11
93 se tiene 0.24 0.11
94 se tiene 0.2 0.11
95 se tiene 0.15 0.11
96 se tiene 0.11 0.11
97 se tiene 0.06 0.11
98 se tiene 0.03 0.11
99 se tiene 0.01 0.11

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [16]:
str_test = total[['LocalJsonOCR']].iloc[0,:].values[0]

In [27]:
json.loads(str_test)

{'dni_cnn': {'value': '00622926'},
 'telefono_cnn': {'value': '48236'},
 'dni_yolo': {'values': [0, 0, 6, 7, 2, 7, 6, 6],
  'scores': [9918, 9957, 9851, 9376, 9971, 9601, 9767, 9406],
  'boxes': [[17, 34, 60, 61],
   [16, 68, 55, 94],
   [17, 98, 53, 122],
   [14, 125, 52, 149],
   [11, 158, 53, 188],
   [1, 192, 57, 222],
   [3, 228, 53, 257],
   [6, 264, 50, 292]]},
 'telefono_yolo': {'values': [7, 0, 7, 2, 0],
  'scores': [8094, 9840, 9915, 9383, 8902],
  'boxes': [[6, 21, 48, 59],
   [6, 67, 49, 96],
   [0, 110, 42, 139],
   [0, 183, 44, 210],
   [5, 252, 48, 275]]}}

In [31]:
stringfy(json.loads(str_test)['dni_yolo']['values'])

'00672766'

### Azure

In [5]:
ruta = 'C:\\git\\cuponesWong\\CuponesWong\\notebooks_flow\\azure_result\\azure_result_metrics.csv'
# ruta = 'C:\\Users\\GYS\\Desktop\\m3100\\azure_result.csv'
m3100_pro_azu = pd.read_csv(ruta, dtype={'DNI':str, 'Telefono':str})
m3100_pro_azu = m3100_pro_azu.fillna('')

In [6]:
m3100_pro_azu

,NombreArchivo,DNI,AcertividadDNI,Telefono,AcertividadTelefono,NombreCompleto,AcertividadNombreCompleto,Direccion,AcertividadDireccion,Distrito,AcertividadDistrito,Correo,AcertividadCorreo,idCampania,idUsuario,idEstado
0,MarzoCompras-0303072019121007_00008,100672966,87.500000,98233140,85.000000,rath,42.500000,Av . Las Wauwtan # 246,86.875000,Chomilloy,85.000000,Karaujo710hohal,85.000000,4,1,2
1,MarzoCompras-0303072019121007_00010,09883016,85.000000,946498591,87.000000,JUAN CARLOS SAlives AnDYA,86.250000,AU. PERU N = 36 52,44.166667,SMP,90.000000,Mauricio2solSbHolmail.am,87.142857,4,1,2
2,MarzoCompras-0303072019121007_00025,04015880,87.500000,92848937,85.000000,Nombres y Apellidos: Jaime Roger Compos Benzospi,86.500000,M Z H . LT. 12. HE. CAVIN DE HUONTAR.,86.904762,MILA EL SALVADOR.,86.666667,,0.000000,4,1,2
3,MarzoCompras-0303072019121013_00265,09310742,86.666667,985973705,85.000000,Nombres y Apellidos: Janet montero flores,86.000000,Nelson Quia 415 A Opto 204,86.875000,Surco,85.000000,"Jalima9-yahoo,es",88.000000,4,1,2
4,MarzoCompras-0303072019121014_00331,08281361949352892,86.666667,949352892,87.000000,howyo Morteness,42.500000,? Joven nuevo news 14 7 + late I comite y,85.000000,Son Juan ducesamcris,85.000000,,0.000000,4,1,2
5,MarzoCompras-0303072019121014_00343,0740141,87.142857,536765,87.142857,Nombres y Apellidos: TERESA HURTADO CASTILLO,86.500000,COMA AU . 22 DE AGOSTO) 265,88.750000,Tere hurtado of inthe,85.000000,,0.000000,4,1,2
6,MarzoCompras-0303072019121017_00450,DN09900151,85.000000,916881398,85.000000,Mariamilla Chauca Palomino,86.250000,JR. FELIPE ARIAS 392,86.666667,J. M . P,88.750000,"ims-0663@yahoo,es",90.000000,4,1,2
7,MarzoCompras-0303072019121017_00459,08982279,86.250000,995327405,88.000000,MAND ANDCELLI GARCIA URBINA,85.000000,Ja- L-DAT12 SALCEDO 124 CONDEVILLA,85.000000,SMP,90.000000,nerologa@hotmail.com,87.500000,4,1,2
8,MarzoCompras-0303072019121018_00497,45277490,86.250000,75521928,85.000000,Nombres y Apellidos: SHERESNARDA RSA ACUNA YNGA,86.500000,Jr. Garala zo de la lega # 414 - Sam Agustin,88.166667,woman,85.000000,syay1526@hotmail.com,86.250000,4,1,2
9,MarzoCompras-0303072019121018_00501,05333314,85.000000,999171709,85.000000,Marbely Beves Guerra,85.000000,Date. 101A Unb- Los Libertadones any . GV LT. OF,86.041667,S. M. P.,88.333333,nanditamanee@hotmail.,85.000000,4,1,2
10,MarzoCompras-0303072019121019_00514,:071546720,85.000000,973369286,85.000000,Nombres y Apellidos: Wileid Diaz,44.000000,Av Angelica Camore,42.500000,Jos Olivos,87.500000,diazmarinB@gmail.com,86.666667,4,1,2
11,MarzoCompras-0303072019121019_00540,73856082,87.500000,943033279,87.500000,Nombres y Apellidos: Marck Andrea Hernandez Ne...,86.500000,to la libertod MZ c LoTe 24 call a 4,87.500000,Sures,85.000000,Marrelaodg46mall.con,85.000000,4,1,2
12,MarzoCompras-0303072019121019_00541,281341,86.666667,21936,86.666667,JUAN LO Ramire,85.000000,VC,42.500000,Sanjuan,85.000000,,0.000000,4,1,2
13,MarzoCompras-0303072019121021_00570,10594523,90.000000,999131729,90.000000,HENRY SAVERO ARIAS,87.500000,ST. 2 GP. 24 A. 12 M . LT 10,44.250000,VillA el SALVADOR,85.000000,han-sa@honall.com,87.000000,4,1,2
14,MarzoCompras-0303072019121021_00585,08661984,88.333333,997359605,85.000000,wanna ( vonre Halace Cervonly,85.000000,Dr. Pierce Constantini 157,42.500000,,0.000000,givennew@hotmail.com,85.000000,4,1,2
15,MarzoCompras-0303072019121023_00648,ON:10748050Te1e70n0:13490121,86.875000,13490121,86.875000,,0.000000,AV . Pre de Americe,42.500000,Coman,85.000000,,0.000000,4,1,2
16,MarzoCompras-0303072019121023_00651,10748050,90.000000,9:34811121,88.750000,Nombres y Apellidos: 7envy We Scoto Alvan,86.500000,AV. Rova le America # 8 16 KMBy,86.000000,lomas,85.000000,,0.000000,4,1,2
17,MarzoCompras-0303072019121023_00652,10748050,85.000000,934811121,85.000000,Hewry Miller,42.500000,INV- pora odd,42.500000,,0.000000,,0.000000,4,1,2
18,MarzoCompras-0303072019121024_00709,43592898,85.000000,980617124,85.000000,Nombres y Apellidos : Josser J. Reyna barcia,44.062500,Asoc. viv Rcardenval La Ribong Me c2 101 19,85.000000,1 agues tino,85.000000,poserswhotmail.cory,87.000000,4,1,2
19,MarzoCompras-0303072019121025_00771,4702383,85.000000,982889908,90.000000,Angela Carolina Reinoso Thibocwo.,87.500000,AU. Angelica Gamang 260 .,86.250000,Los Olivos,87.500000,angela.reinoso@Upch.pe,88.750000,4,1,2
20,MarzoCompras-0303072019121030_00931,41330637,85.000000,971214922,85.000000,YESSICA MAGDALENA OBANDO GARCIA,86.250000,AA - HH. SAN FRANCISCO DE ASIS MZ X At 6,88.083333,ANCON,90.000000,,0.000000,4,1,2
21,MarzoCompras-0303072019121032_00998,16145220,90.000000,9926079,90.000000,FREDES BINDO OFELIA MENDEZ FRANCE,85.000000,PAIDTF 13 DE OCTUBRE MEH LTIY CHOSION,85.625000,LUNGANCHO - CHOS/ CP,86.250000,fredesxbinda-18@r,87.000000,4,1,2
22,MarzoCompras-0303072019125009_00002,71412750,85.000000,94907940,85.000000,ombres y Apellidos: Evelyn Melagree Barrios Se...,86.500000,A el ed con alaryes conde Floresta Sey dep: 40...,85.000000,Chenillez,85.000000,melonesplee20090hot,85.000000,4,1,2
23,MarzoCompras-0303072019125011_00105,44243513,85.000000,940205495,85.000000,Cynthia. Quispe Manchi,85.000000,I. Mana Corbacks cabra 3 A Deto 301 Los Proceres.,87.000000,Surco,90.000000,cynthiaquispe.mcmail-co,86.428571,4,1,2
24,MarzoCompras-0303072019125012_00121,42914226,86.250000,986292246,88.333333,Susan Cervantes racgo,85.000000,MEH LTA CTY Nuevo,88.333333,5 . J. L,88.750000,,0.000000,4,1,2
25,MarzoCompras-0303072019125012_00123,08688843,88.333333,5687742,85.000000,DOLORES PAZO TAFUN,85.000000,JR: GERMAN APARTCIO 208 URB CONDEVILLA,88.333333,S. M. P,90.000000,dowopazygmail.com,88.000000,4,1,2
26,MarzoCompras-0303072019125013_00187,44765113,86.666667,946048073,86.666667,Gino Carlos Gonzales Flores,85.000000,To. Fernando Tola 540,42.500000,S. M. P,88.333333,Vocalospongalesflores@Quail.com,87.000000,4,1,2
27,MarzoCompras-0303072019125013_00196,72239287,85.000000,288692,85.000000,Nombres y Apellidos: Kelly Gladys Karlo Huaranga,86.666667,MZ Y L 70 coop umamarca,85.000000,S . J. M,86.250000,llyke-mh-Is@hotmail.com,86.250000,4,1,2
28,MarzoCompras-0303072019125013_00206,714123873,87.142857,914068535,87.142857,Nombres y Apellidos: Sebastian Perez elias,86.500000,M 2 132 LT8 illa Solidarido,42.916667,S.J. M,87.500000,Sepeell1224@gmail.co,89.000000,4,1,2
29,MarzoCompras-0303072019125015_00264,:06163611,87.222222,944458794,87.222222,Nombres y Apellidos CARMEN E. SANCHEZ CHANGANA...,89.500000,TRON 37 DIAS # 178,88.333333,Distrito TUDE PEN DENCIA,86.250000,,0.000000,4,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3127,MarzoCompras_XM_B5_20190710134528_00365,46796194,85.000000,97797411,85.000000,Jania couza Castillo,87.500000,M ZE GIS ill Et pack,85.500000,UES,90.000000,,0.000000,4,1,2
3128,MarzoCompras_XM_B5_20190710134534_00496,08351084,85.000000,2814089,90.000000,Ana Ferreyra Cap devila,90.000000,Calle Rosendo Leder,45.000000,San Juan de Thraflory,87.500000,,0.000000,4,1,2
3129,MarzoCompras_XM_B5_20190710134536_00590,4649:3703,86.000000,963238721,86.000000,levardoles flex tal,42.500000,Av. Revolucion muso- collique.,85.000000,Conads .,87.500000,,0.000000,4,1,2
3130,MarzoCompras_XM_B5_20190710134537_00597,49333931,85.000000,2749855,85.000000,ASHEY ANAGALL SANCHEZ PEREZ,87.500000,"URB. LA CRUCETA"" I"" BWCK( 15 - 303",87.500000,SURWO,85.000000,ashley_sa_0609@hotmail.com,86.666667,4,1,2
3131,MarzoCompras_XM_B5_20190710134537_00607,09300038,88.333333,992009301,85.000000,JACQUELINE ITOT WETURA,85.000000,(SMALL Bizlicit 543,42.500000,SANTIAGO DE SUNCO,86.666667,yayopile@hotmail.com,86.666667,4,1,2
3132,MarzoCompras_XM_B5_20190710134538_00628,44250417,86.875000,76506918,86.875000,GERALD FERNANDEZ TO NACIO,85.833333,"Direccion CATIE ALFONSO UGARTE 12 0, LT 7 TREB...",86.458333,& SAN JUAN DE MIRAFL.,90.000000,,0.000000,4,1,2
3133,MarzoCompras_XM_B5_20190710134539_00654,47025037,90.000000,989361838,85.000000,Nombres y Apellidos: ESTEFANIA YSABEL LAURY BUENO,87.000000,JR. DETECTIVES H2. F3 27. 3 URB. HONOR Y LEACT...,86.696429,SURLO,85.000000,estefaniall6hotmail.com,86.666667,4,1,2
3134,MarzoCompras_XM_B5_20190710134539_00656,46147494,86.666667,934929470,87.500000,Diguer Linares Reatequi,86.250000,"us. lo, coolness de villa My JIL Love 16 Doto 202",86.416667,Char'lles,85.000000,digverlinares@gmail.con,85.000000,4,1,2
3135,MarzoCompras_XM_B5_20190710134548_00802,42751535,85.000000,978004066,85.000000,GRISSEL PAMELA CARPIO HERREROS,90.000000,"J . IGNACIO SEMINARIO 1028 zona ""c""",87.083333,San Juan de MiraFlores,86.250000,Gress-pamela@hotmail.com,87.000000,4,1,2
3136,MarzoCompras_XM_B5_20190710134548_00811,01137544,85.000000,982053288,87.500000,Jairo Salas . Wana ma,88.750000,Coop - Senos de Cos Milagros o - ],87.750000,,0.000000,jawstuanomo@gmail.Com,86.666667,4,1,2
3137,MarzoCompras_XM_B5_20190710134549_00856,1669655,86.000000,54367406,85.000000,Graciela Eliza BEthe DlivARES Baulists,85.000000,Urb Sants Luznile psic . Hurtado N' jos,86.000000,COMPS,85.000000,geeszois@holmail.com,85.714286,4,1,2
3138,MarzoCompras_XM_B5_20190710134551_00897,(66965S,86.250000,943674106,86.250000,Nombres y Apellidos: 6 nA ciElA ElizABETH OLIV...,86.428571,Usb . Santa Luznilo Pole. Hurtado N' los,86.250000,-COMPS,85.000000,good2013@hotmail.com,86.000000,4,1,2
3139,MarzoCompras_XM_B5_20190710150302_00014,10206157,86.666667,9191251047,86.666667,Maryya Castro Ventura,85.000000,Coop. pueblo libre 1 57,85.000000,too olum,85.000000,,0.000000,4,1,2
3140,MarzoCompras_XM_B5_20190710150304_00067,41942646,87.500000,972784712,85.000000,Nombres y Apellidos: Somdig Magall Castillo,86.500000,172'F Lot. 15 a plani cie,86.666667,SM. D,85.000000,Sanchaqandagmail.com,85.833333,4,1,2
3141,MarzoCompras_XM_B5_20190710150306_00166,41042646,85.000000,97784172,85.000000,Nombres y Apellidos: Sandra Magali castillo ca...,86.500000,12 F' lot. 15 Laplanicie,85.625000,S. M. P,88.333333,Samdragmadagmail.com,86.666667,4,1,2
3142,MarzoCompras_XM_B5_20190710150308_00203,70333304,87.500000,987782790,85.000000,Parla Arias Modesto,88.750000,Adolfo Viera,43.750000,STM,90.000000,pallealias0798@gmail,87.000000,4,1,2
3143,MarzoCompras_XM_B5_20190710150308_00204,080216390,86.666667,962912444,85.000000,Nombres y Apellidos: Naplee vilma Varger Villar,86.000000,A AHH JICA ma=S love 10 Qv . A.U pane,85.625000,RIMAC,85.000000,Estresade(979@)Hotmailcom,85.714286,4,1,2
3144,MarzoCompras_XM_B5_20190710150308_00238,06542290951877921,87.222222,951877921,87.272727,Fernando MANUSC GRANDE MANMOVE,85.000000,UnB. SAN JOSE 02 2 - J T- 12 B,87.738095,ANCON,85.000000,fanAndE201751egoall,85.000000,4,1,2
3145,MarzoCompras_XM_B5_20190710150312_00355,40336025:,85.000000,990804579,90.000000,Nombres y Apellidos: SU V.,44.500000,J. Choelvepays 574 . Alt. Cola 34 Ar. pou.,86.750000,S. M. P.,90.000000,,0.000000,4,1,2
3146,MarzoCompras_XM_B5_20190710150312_00360,09285896,87.500000,4128041,87.500000,Nombres y Apellidos: Maribel titto sysCA,86.875000,A sent. H AdeNAS ONVAS grupo 3 Sect OR 7 ME. A...,87.071429,Wills SALVADOR,85.000000,,0.000000,4,1,2
3147,MarzoCompras_XM_B5_20190710150317_00473,75542734,88.333333,992806198,88.333333,Nombres y Apellidos: fraac Pablo Vega Chaves,87.750000,Or Veracruz 375,43.333333,rito : San Martin de Porres,86.666667,seacable9596ahotmail.com,87.000000,4,1,2
3148,MarzoCompras_XM_B5_20190710150320_00551,46896096,88.750000,5299919,86.250000,Christian Erick Riveres Bonifacio,86.250000,Calle c urb. and. M3 C lote 18 Panamericana No...,86.562500,Independencia,85.000000,Christian.13.5@gmail.com,87.500000,4,1,2
3149,MarzoCompras_XM_B5_20190710150321_00599,77744013,85.000000,727873761,85.000000,Miis Rivera Palomares,86.250000,JR Moyobanba 648 30 piso,86.250000,SMD,85.000000,,0.000000,4,1,2
3150,MarzoCompras_XM_B5_20190710150322_00609,060801141,86.250000,187315423,85.000000,,0.000000,25 diceDe 969,42.500000,S- el .,86.666667,,0.000000,4,1,2
3151,MarzoCompras_XM_B5_20190710150330_00766,73060679:,86.666667,5333952,85.000000,Serpis Comando araujo Mendoza .,85.833333,Or tomas vale 1530 Block 7 Apt . 402,87.000000,los olives .,86.666667,nancy.mendoza@sPS.com,86.000000,4,1,2
3152,MarzoCompras_XM_B5_20190710150330_00774,27988142,87.142857,982612749,87.142857,Nombres y Apellidos Elsa Aviles San ches,43.928571,clemente palma 524,44.166667,San Marlin de porres,88.750000,,0.000000,4,1,2
3153,MarzoCompras_XM_B5_20190710150332_00842,41868037,85.000000,980689204,87.500000,YRUS NANOC ROVCE RO,85.000000,MALECON RAMCON CASTILLA TZQETYAEL ACTILLO,85.833333,,0.000000,,0.000000,4,1,2
3154,MarzoCompras_XM_B5_20190710150332_00855,27988149,86.250000,982612749,86.250000,Nombres y Apellidos: Esankles sanchez,44.000000,5 24,43.750000,san martinde forves,85.000000,,0.000000,4,1,2
3155,MarzoCompras_XM_B5_20190710150334_00907,01811039940,86.666667,92660060,86.666667,Henry 705 2,44.166667,,0.000000,,0.000000,,0.000000,4,1,2
3156,MarzoCompras_XM_B5_20190710150336_00953,80064626,87.500000,990145711,85.000000,Albarnon Ramirez,42.500000,12CL. 4 los JarDines De Santa Rosa ITT Tapa,86.125000,SMP,90.000000,AlFredoAlbornoRan?senlo6agma,85.000000,4,1,2

In [7]:
total_comp_azure = pd.merge(m3100_pro_azu, m3100_real, how='left', on='NombreArchivo')
total_comp_azure['dni_lev_azure'] = np_distance(total_comp_azure['DNI_x'],total_comp_azure['DNI_y'])
total_comp_azure['tel_lev_azure'] = np_distance(total_comp_azure['Telefono'],total_comp_azure['telefono'])
total_comp_azure['mail_lev_azure'] = np_distance(total_comp_azure['Correo'],total_comp_azure['email'])

# Cleaning muestra
total_comp_azure['DNI_y'] = total_comp_azure['DNI_y'].apply(str.strip)
total_comp_azure['DNI_y'] = total_comp_azure['DNI_y'].apply(clean_real_dni)

# Columnas con letras
total_comp_azure['letter_in_DNI_real'] = np_has_letters(total_comp_azure['DNI_y'])
total_comp_azure['letter_in_DNI_est'] = np_has_letters(total_comp_azure['DNI_x'])

# Longitud de estimación
total_comp_azure['len_DNI_est'] = total_comp_azure['DNI_x'].apply(len)

# New rule test
total_comp_azure['DNI_new'] = np.where(np.logical_and(15<=total_comp_azure.len_DNI_est,total_comp_azure.len_DNI_est<=19),
                                       total_comp_azure['DNI_x'].apply(lambda x : x[:8]),
                                       total_comp_azure['DNI_x']
                                      )
total_comp_azure['dni_lev_azure_new'] = np_distance(total_comp_azure['DNI_new'],total_comp_azure['DNI_y'])

In [17]:
total_comp_azure.columns

Index(['NombreArchivo', 'DNI_x', 'AcertividadDNI', 'Telefono',
       'AcertividadTelefono', 'NombreCompleto', 'AcertividadNombreCompleto',
       'Direccion', 'AcertividadDireccion', 'Distrito', 'AcertividadDistrito',
       'Correo', 'AcertividadCorreo', 'AzureJsonOCR', 'idCampania',
       'idUsuario', 'idEstado', 'Unnamed: 0', 'nombre_archivo', 'DNI_y',
       'telefono', 'Observación', 'email', 'dni_lev_azure', 'tel_lev_azure',
       'mail_lev_azure', 'letter_in_DNI_real', 'letter_in_DNI_est',
       'len_DNI_est', 'DNI_new', 'dni_lev_azure_new'],
      dtype='object')

# Working with DNI

In [12]:
total_comp_azure[['NombreArchivo','DNI_x','Telefono','DNI_y','dni_lev_azure','letter_in_DNI_est']][total_comp_azure.letter_in_DNI_est==True]

,NombreArchivo,DNI_x,Telefono,DNI_y,dni_lev_azure,letter_in_DNI_est
6,MarzoCompras-0303072019121017_00450,DN09900151,916881398,09900151,2,True
10,MarzoCompras-0303072019121019_00514,:071546720,973369286,071546720,1,True
15,MarzoCompras-0303072019121023_00648,ON:10748050Te1e70n0:13490121,13490121,10748050,20,True
29,MarzoCompras-0303072019125015_00264,:06163611,944458794,06163611,1,True
34,MarzoCompras-0303072019125027_00655,BMI;147395326923083182,923083182,147395326,13,True
35,MarzoCompras-0303072019125029_00709,OR985118,966427430,09985118,2,True
38,MarzoCompras-0303072019132553_00040,DNA59380917Te1e70n0116002029,116002029,09380917,21,True
48,MarzoCompras-0303072019132605_00529,1015397:,990442682,10153975,1,True
49,MarzoCompras-0303072019132606_00540,46398BLO,956722669,46398810,3,True
50,MarzoCompras-0303072019132606_00553,47834094:,990285807,47834094,1,True
54,MarzoCompras-0303072019132611_00754,:08363811,GGM443,08363811,1,True
57,MarzoCompras-0303072019132617_00956,06076796Te1e70n9i,,06076796,9,True
58,MarzoCompras-0303072019132617_00957,45346027Te1e70n0:,4577251,45346077,9,True
64,MarzoCompras-0303072019160823_00351,:46896096,979630653,46896096,1,True
65,MarzoCompras-0303072019160824_00415,49881852Te1e70n0:,913275119,44881852,10,True
67,MarzoCompras-0303072019160826_00481,Q481852,91327571,44881852,2,True
68,MarzoCompras-0303072019160826_00492,DNI:410}9819,958479724,41079819,5,True
69,MarzoCompras-0303072019160826_00503,L037432Te1e70n0:,526vsk4,40374324,10,True
75,MarzoCompras-0303072019160830_00655,:0924FULL,922249830,09247411,5,True
77,MarzoCompras-0303072019160832_00728,DN109623807,Te1e70n0533LLi92,09623807,3,True
78,MarzoCompras-0303072019160832_00750,21286476Te1e70n0:_,993925830,21286476,10,True
81,MarzoCompras-0303072019160838_00986,70405777:,935025294,70405777,1,True
92,MarzoCompras-0303072019164227_00562,NI:48064827,975327693,48064827,3,True
99,MarzoCompras-0303072019164233_00817,94483JSTe1e70n0:,981582093,19448315,11,True
109,MarzoCompras_0202072019164454_00234,:07039147:992393699,992393699,7039147,12,True
111,MarzoCompras_0202072019164456_00288,08670069Te1e70n0:,991209119,08670069,9,True
124,MarzoCompras_0202072019164514_01001,25723839Te1e70n0:,988215349,75723839,10,True
128,MarzoCompras_0202072019182420_00254,:52531965,;5696(SS,72531965,2,True
129,MarzoCompras_0202072019182420_00284,09409Zis,9x410757,09409259,3,True
130,MarzoCompras_0202072019182421_00327,07(76178,98059463,07176178,1,True
...,...,...,...,...,...,...
2951,MarzoCompras_XM_B5_20190709163304_00093,DN10909483122769418,22769418,40361153,16,True
2965,MarzoCompras_XM_B5_20190709171349_00553,08650242Te1e70n0:,993923937,70303158,15,True
2968,MarzoCompras_XM_B5_20190709171352_00614,BO0514651,997371885,10100885,8,True
2984,MarzoCompras_XM_B5_20190709180554_00331,DNI:0105118,943667716,43551851,8,True
2985,MarzoCompras_XM_B5_20190709180555_00353,(40853111,950128082,40123903,6,True
2987,MarzoCompras_XM_B5_20190709180559_00441,70972565:,963500229,42592290,8,True
2999,MarzoCompras_XM_B5_20190709180637_00970,07BIDSSR,287665,07465735,6,True
3004,MarzoCompras_XM_B5_20190709190717_00249,DNID6471541STe1e70n098102055,98102055,08887426,25,True
3024,MarzoCompras_XM_B5_20190710100537_00147,06IS2511,970956548,10458460,8,True
3029,MarzoCompras_XM_B5_20190710100543_00329,:4236S808,460624271,41185084,7,True
3042,MarzoCompras_XM_B5_20190710100602_00830,122470651Te1e70n0:_,925577544,07886807,17,True
3059,MarzoCompras_XM_B5_20190710113155_00033,43125#48,941713491,70395887,7,True
3060,MarzoCompras_XM_B5_20190710113156_00059,41405357Te1e70n0:,,09607952,15,True
3073,MarzoCompras_XM_B5_20190710113232_00887,DN:061J562:,997003121,46896096,9,True
3074,MarzoCompras_XM_B5_20190710113233_00892,DNI:45889576,991772794,44284917,8,True
3077,MarzoCompras_XM_B5_20190710113238_00993,DNI:3118813725314752,5314752,73138968,17,True
3081,MarzoCompras_XM_B5_20190710113243_01134,:44284917,9939063814,70898803,8,True
3094,MarzoCompras_XM_B5_20190710122832_00533,:09208306954141571,954141571,10067440,13,True
3103,MarzoCompras_XM_B5_20190710131701_00029,41254221Te1e,992839412,45656220,8,True
3105,MarzoCompras_XM_B5_20190710131704_00134,41108642:,972720069,73738189,8,True
3106,MarzoCompras_XM_B5_20190710131704_00155,10342731Te1e70n0:,940611821,47724193,14,True
3110,MarzoCompras_XM_B5_20190710131707_00211,L616220,9372138,41678862,7,True
3113,MarzoCompras_XM_B5_20190710131716_00382,47724193Te1e70n0:,963056679,41130903,12,True
3125,MarzoCompras_XM_B5_20190710131746_00944,08105846Te1e70n0:,986791756,46493703,13,True
3126,MarzoCompras_XM_B5_20190710131746_00955,DND8350425Te1e70n0k1481455,k1481455,47333931,23,True
3129,MarzoCompras_XM_B5_20190710134517_00021,0940871Z,99656450,47025037,7,True
3132,MarzoCompras_XM_B5_20190710134536_00590,4649:3703,963238721,01137544,8,True
3141,MarzoCompras_XM_B5_20190710134551_00897,(66965S,943674106,40336025,7,True
3148,MarzoCompras_XM_B5_20190710150312_00355,40336025:,990804579,27988142,9,True
3154,MarzoCompras_XM_B5_20190710150330_00766,73060679:,5333952,40557762,7,True

In [9]:
# len_dni = total_comp_azure[['NombreArchivo','DNI_x','DNI_y','dni_lev_azure','letter_in_DNI_est','len_DNI_est']].head()
total_comp_azure.groupby(['len_DNI_est']).agg({'NombreArchivo':'count'})

             NombreArchivo
len_DNI_est
0                       88
1                        3
3                        2
4                        1
5                        1
6                        8
7                      157
8                     2254
9                      242
10                      33
11                      26
12                      28
13                       5
14                       8
15                      30
16                      32
17                     137
18                      39
19                      13
20                       5
21                       4
22                       6
23                       8
24                       4
25                       9
26                       7
27                       3
28                       3
29                       1
30                       2
34                       1

In [11]:
total_comp_azure[['NombreArchivo','DNI_x','Telefono','DNI_y','dni_lev_azure','len_DNI_est','DNI_new']][np.logical_and(15<=total_comp_azure.len_DNI_est,total_comp_azure.len_DNI_est<=19)]

,NombreArchivo,DNI_x,Telefono,DNI_y,dni_lev_azure,len_DNI_est,DNI_new
4,MarzoCompras-0303072019121014_00331,08281361949352892,949352892,08281360,10,17,08281361
57,MarzoCompras-0303072019132617_00956,06076796Te1e70n9i,,06076796,9,17,06076796
58,MarzoCompras-0303072019132617_00957,45346027Te1e70n0:,4577251,45346077,9,17,45346027
65,MarzoCompras-0303072019160824_00415,49881852Te1e70n0:,913275119,44881852,10,17,49881852
69,MarzoCompras-0303072019160826_00503,L037432Te1e70n0:,526vsk4,40374324,10,16,L037432T
74,MarzoCompras-0303072019160830_00632,42385808960624271,960624271,42385808,9,17,42385808
78,MarzoCompras-0303072019160832_00750,21286476Te1e70n0:_,993925830,21286476,10,18,21286476
99,MarzoCompras-0303072019164233_00817,94483JSTe1e70n0:,981582093,19448315,11,16,94483JST
109,MarzoCompras_0202072019164454_00234,:07039147:992393699,992393699,7039147,12,19,:0703914
111,MarzoCompras_0202072019164456_00288,08670069Te1e70n0:,991209119,08670069,9,17,08670069
115,MarzoCompras_0202072019164501_00469,438374569946696141,9946696141,43937446,11,18,43837456
121,MarzoCompras_0202072019164509_00749,408727555331393,5331393,40872755,7,15,40872755
124,MarzoCompras_0202072019164514_01001,25723839Te1e70n0:,988215349,75723839,10,17,25723839
145,MarzoCompras_0203072019122713_00076,0990107645232134(,45232134(,09901076,9,17,09901076
146,MarzoCompras_0203072019122713_00079,4869367Te1e70n0:10,989023324,48659367,12,18,4869367T
181,MarzoCompras_0203072019130748_00570,101386CZ5374752,5374752,10188619,10,15,101386CZ
185,MarzoCompras_0203072019130751_00648,06296898983982767,983982767,06296899,9,17,06296898
195,MarzoCompras_AV_B3_20190705171114_00434,2OS940319456627,9456627,40594031,10,15,2OS94031
222,MarzoCompras_AV_B3_20190705180848_00227,42385508160624271,160624271,42385808,10,17,42385508
236,MarzoCompras_AV_B3_20190708093424_00443,25752753189313563,189313563,25752753,9,17,25752753
238,MarzoCompras_AV_B3_20190708093426_00516,09904z91Te1e70n,994603867,9904291,9,15,09904z91
239,MarzoCompras_AV_B3_20190708093427_00533,10027314938627316,938627316,10027314,9,17,10027314
243,MarzoCompras_AV_B3_20190708093431_00694,80064626990145071,990145071,80064626,9,17,80064626
263,MarzoCompras_AV_B3_20190708100659_00522,7:2207260Te1e70n0:_,940140585,72207260,11,19,7:220726
289,MarzoCompras_AV_B3_20190708103548_00811,20973223946824181,946824181,20973223,9,17,20973223
312,MarzoCompras_AV_B4_20190708163712_00393,0741497995623521],95623521],07414999,9,17,07414979
342,MarzoCompras_AV_B4_20190708174553_00324,94090964Te1e70n0:,970396646,71235981,15,17,94090964
357,MarzoCompras_AV_B4_20190708174611_00950,79468951Te1e70n0:,993313653,8624773,15,17,79468951
389,MarzoCompras_AV_B4_20190709102235_00037,1018836150406160,50406160PasaG#168,25785288,14,16,10188361
395,MarzoCompras_AV_B4_20190709102251_00461,07591247Te1e70n0:,994944484,10766672,14,17,07591247
...,...,...,...,...,...,...,...
2828,MarzoCompras_XM_B4_20190708110320_00189,08461614962695724,962695724,40861513,13,17,08461614
2847,MarzoCompras_XM_B4_20190708122435_00975,09208306954141597,954141597,06804187,11,17,09208306
2865,MarzoCompras_XM_B4_20190708153355_00934,25862828MZAZh113,970300722,0803153,13,16,25862828
2870,MarzoCompras_XM_B4_20190708153359_01046,08781214Te1e70n0:,996984304,8590002,14,17,08781214
2872,MarzoCompras_XM_B4_20190708165820_00136,0603153Te1e70n0:,990011816,41450496,14,16,0603153T
2876,MarzoCompras_XM_B4_20190708165904_00383,DNI:323576Te1e70n0:,,46740234,17,19,DNI:3235
2892,MarzoCompras_XM_B4_20190709095514_00230,40484092Te1e70n0:,982285226,41479053,13,17,40484092
2903,MarzoCompras_XM_B4_20190709095724_00986,74912487Te1e70n0:,2765522,42979534,14,17,74912487
2917,MarzoCompras_XM_B5_20190709150933_00541,72866x48Te1e70n0:_,945611336,8520985,16,18,72866x48
2928,MarzoCompras_XM_B5_20190709154921_00041,:45884841:997332882,997332882,42454410,15,19,:4588484
2934,MarzoCompras_XM_B5_20190709154936_00411,43832091Te1e70n0:,989298580,73690118,13,17,43832091
2938,MarzoCompras_XM_B5_20190709154940_00499,08583530991760582,991760582,10650399,13,17,08583530
2947,MarzoCompras_XM_B5_20190709155001_00901,096136Octe1e70n0:,998770354,41743307,15,17,096136Oc
2951,MarzoCompras_XM_B5_20190709163304_00093,DN10909483122769418,22769418,40361153,16,19,DN109094
2965,MarzoCompras_XM_B5_20190709171349_00553,08650242Te1e70n0:,993923937,70303158,15,17,08650242
3034,MarzoCompras_XM_B5_20190710100548_00500,47555207954761856,954761856,10024398,14,17,47555207
3037,MarzoCompras_XM_B5_20190710100554_00663,4111053579196303,79196303,40503163,10,16,41110535
3042,MarzoCompras_XM_B5_20190710100602_00830,122470651Te1e70n0:_,925577544,07886807,17,19,12247065
3043,MarzoCompras_XM_B5_20190710100606_00930,435586204737367,4737367,9138120,12,15,43558620
3048,MarzoCompras_XM_B5_20190710103950_00552,07633047989859488,989859488,47583987,12,17,07633047
3060,MarzoCompras_XM_B5_20190710113156_00059,41405357Te1e70n0:,,09607952,15,17,41405357
3072,MarzoCompras_XM_B5_20190710113231_00840,448489449567753537,9567753537,08045246,15,18,44848944
3094,MarzoCompras_XM_B5_20190710122832_00533,:09208306954141571,954141571,10067440,13,18,:0920830
3095,MarzoCompras_XM_B5_20190710122833_00566,0866820299538276,99538276,08461614,13,16,08668202
3106,MarzoCompras_XM_B5_20190710131704_00155,10342731Te1e70n0:,940611821,47724193,14,17,10342731
3107,MarzoCompras_XM_B5_20190710131705_00163,42385808960624271,960624271,09930475,12,17,42385808
3113,MarzoCompras_XM_B5_20190710131716_00382,47724193Te1e70n0:,963056679,41130903,12,17,47724193
3119,MarzoCompras_XM_B5_20190710131730_00678,68669039796083466,796083466,08350475,13,17,68669039
3125,MarzoCompras_XM_B5_20190710131746_00944,08105846Te1e70n0:,986791756,46493703,13,17,08105846
3147,MarzoCompras_XM_B5_20190710150308_00238,06542290951877921,951877921,73060679,14,17,06542290

In [160]:
total_comp_azure[['NombreArchivo','Telefono','telefono','tel_lev_azure']].head()

                         NombreArchivo   Telefono   telefono  tel_lev_azure
0  MarzoCompras-0303072019121007_00008   98233140  982331400              1
1  MarzoCompras-0303072019121007_00010  946498591  946498597              1
2  MarzoCompras-0303072019121007_00025   92848937  928489578              2
3  MarzoCompras-0303072019121013_00265  985973705  985973705              0
4  MarzoCompras-0303072019121014_00331  949352892  949357892              1

In [89]:
total_comp_azure[['NombreArchivo','Correo','email','mail_lev_azure']][total_comp_azure.mail_lev_azure==1].head()

,NombreArchivo,Correo,email,mail_lev_azure
2,MarzoCompras-0303072019121007_00025,,-,1
19,MarzoCompras-0303072019121025_00771,angela.reinoso@Upch.pe,angela.reinoso@upch.pe,1
20,MarzoCompras-0303072019121030_00931,,-,1
24,MarzoCompras-0303072019125012_00121,,-,1
41,MarzoCompras-0303072019132555_00124,Pattychic_14.7@hotmail.com,Pattychic_14_7@hotmail.com,1

In [13]:
lev_dni_azure = total_comp_azure.groupby(['dni_lev_azure']).agg({'NombreArchivo':'count'})
lev_dni_azure['porcentaje'] = np.round(lev_dni_azure['NombreArchivo'] * 100 / lev_dni_azure['NombreArchivo'].sum() , 2)
lev_dni_azure['cuenta'] = lev_dni_azure['NombreArchivo']
lev_dni_azure[['cuenta','porcentaje']]

               cuenta  porcentaje
dni_lev_azure
0                 176        5.57
1                  69        2.18
2                  35        1.11
3                  18        0.57
4                  31        0.98
5                 156        4.94
6                 602       19.05
7                 933       29.53
8                 739       23.39
9                  73        2.31
10                 30        0.95
11                 26        0.82
12                 31        0.98
13                 60        1.90
14                 62        1.96
15                 46        1.46
16                 15        0.47
17                  9        0.28
18                 12        0.38
19                  2        0.06
20                 10        0.32
21                  8        0.25
22                  6        0.19
23                  5        0.16
24                  1        0.03
25                  2        0.06
27                  1        0.03
30                  2        0.06

In [19]:
lev_tel_azure = total_comp_azure.groupby(['tel_lev_azure']).agg({'NombreArchivo':'count'})
lev_tel_azure['porcentaje'] = np.round(lev_tel_azure['NombreArchivo'] * 100 / lev_tel_azure['NombreArchivo'].sum() , 2)
lev_tel_azure['cuenta'] = lev_tel_azure['NombreArchivo']
lev_tel_azure[['cuenta','porcentaje']]

               cuenta  porcentaje
tel_lev_azure
0                1705       53.96
1                 831       26.30
2                 311        9.84
3                 118        3.73
4                  51        1.61
5                  10        0.32
6                   9        0.28
7                  19        0.60
8                  13        0.41
9                  64        2.03
10                 11        0.35
11                  5        0.16
12                  4        0.13
13                  1        0.03
14                  1        0.03
17                  1        0.03
20                  1        0.03
22                  1        0.03
25                  1        0.03
28                  2        0.06
29                  1        0.03

In [167]:
lev_mail_azure = total_comp_azure.groupby(['mail_lev_azure']).agg({'NombreArchivo':'count'})
lev_mail_azure['porcentaje'] = np.round(lev_mail_azure['NombreArchivo'] * 100 / lev_mail_azure['NombreArchivo'].sum() , 2)
lev_mail_azure['cuenta'] = lev_mail_azure['NombreArchivo']
lev_mail_azure[['cuenta','porcentaje']]

                cuenta  porcentaje
mail_lev_azure
0                 1031       32.63
1                  426       13.48
2                  209        6.61
3                  213        6.74
4                  199        6.30
5                  153        4.84
6                  164        5.19
7                  118        3.73
8                  117        3.70
9                   98        3.10
10                  63        1.99
11                  57        1.80
12                  53        1.68
13                  45        1.42
14                  37        1.17
15                  21        0.66
16                  19        0.60
17                  22        0.70
18                  16        0.51
19                  16        0.51
20                  22        0.70
21                   9        0.28
22                  15        0.47
23                  10        0.32
24                   9        0.28
25                   7        0.22
26                   3        0.09
27                   1        0.03
28                   3        0.09
29                   2        0.06
30                   2        0.06